/* =================================================== */
/* 
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");

@import url("fonts.css");
 */

@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");

@import url("reset.css");

/* =================================================== */

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

body {
	font-family: "DM Serif Text";
	font-size: 18px;
	color: #2a2f2f;
}

/* =================================================== */

.header {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 32px;
	text-align: center;
	background-color: #e3e3e3;
}
.header__container {
	text-align: center;
}

.header__logo:hover {
	text-decoration: underline;
}

/* =================================================== */

.block-header {
	text-align: center;
}

.block-header__title {
	color: #fff;
	font-size: 48px;
	font-weight: 400;
	line-height: 1.27;
}

.block-header__subtitle {
	color: #ebebeb;
	font-size: 20px;
	line-height: 1.27;
}

/* =================================================== */

.layout-one {
	background-color: #0e333d;
	padding-top: 94px;
	padding-bottom: 94px;
}

.layout-one__header:not(:last-child) {
	margin-bottom: 34px;
}

.layout-one__title:not(:last-child) {
	margin-bottom: 23px;
}

.tabs__navi {
	display: flex;
	column-gap: 41px;
	row-gap: 10px;
	justify-content: center;
	flex-wrap: wrap;
}

.tabs__navi:not(:last-child) {
	margin-bottom: 77px;
}

.tabs__title {
	color: #fff;
	font-family: "Cormorant";
	font-size: 18px;
	font-weight: 700;
	line-height: 1.27;
	position: relative;
}
.tabs__title:after {
	content: "";
	position: absolute;
	width: 0;
	height: 1px;
	top: 100%;
	left: 0;
	background-color: #fff;
	transition: all 0.3s;
}

.tabs__title:hover::after {
	width: 100%;
}

.tabs__content {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	row-gap: 30px;
}

.item {
	padding: 0 15px;
	flex: 0 1 25%;
	display: flex;
	flex-direction: column;
	row-gap: 17px;
}
.item__image {
	overflow: hidden;
	border-radius: 5px;
}
.item__image img {
	width: 100%;
	height: 100%;
	aspect-ratio: 271 / 271;
	object-fit: cover;
	transition: all 0.5s;
}
.item__image:hover img {
	transform: scale(1.04);
}

.item__content {
	flex: 1 1 auto;
	font-family: "Cormorant Infant";
	font-size: 24px;
	font-weight: 700;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.tabs__item .item__content {
	color: #fff;
}
.item__title {
	flex: 1 1 auto;
}

.item__title:hover {
	text-decoration: underline;
}

/* ---------------------------------------------- */

@media (max-width: 889.98px) {
	.block-header__title {
		font-size: 40px;
	}
	.layout-one {
		padding-top: 74px;
		padding-bottom: 74px;
	}

	.item__content {
		font-size: 22px;
	}

	.tabs__navi:not(:last-child) {
		margin-bottom: 60px;
	}
}

@media (max-width: 767.98px) {
	.block-header__title {
		font-size: 32px;
	}
	.layout-one {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.layout-one__header:not(:last-child) {
		margin-bottom: 25px;
	}

	.layout-one__title:not(:last-child) {
		margin-bottom: 10px;
	}
	.tabs__content {
		margin: 0 -10px;
		row-gap: 20px;
	}
	.item {
		flex: 1 0 50%;
		padding: 0 10px;
		row-gap: 10px;
	}
	.tabs__navi:not(:last-child) {
		margin-bottom: 50px;
		column-gap: 30px;
	}
}

@media (max-width: 450px) {
	.layout-one {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.tabs__navi:not(:last-child) {
		margin-bottom: 30px;
	}

	.item {
		flex: 0 1 100%;
	}
}

/* ---------------------------------------------- */

/* =================================================== */

.layout-two {
	padding-top: 50px;
	padding-bottom: 50px;
}

.layout-two__container {
	text-align: center;
}

.layout-two__header:not(:last-child) {
	margin-bottom: 62px;
}

.layout-two__title {
	color: #291403;
	line-height: 1;
}
.layout-two__title:not(:last-child) {
	margin-bottom: 27px;
}

.layout-two__subtitle {
	color: #818181;
	line-height: 1.4;
}

.layout-two__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	row-gap: 10px;
	text-align: left;
}

.layout-two__items:not(:last-child) {
	margin-bottom: 76px;
}

.item__image--contain img {
	object-fit: contain;
}

.item__content {
	color: #000;
}

.layout-two__button {
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	line-height: 1.87;
	background-color: #ff7a49;
	padding: 12px 42px;
	transition: all 0.3s;
}

.layout-two__button:hover {
	background-color: #b94d25;
}

@media (max-width: 767.98px) {
	.layout-two {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.layout-two__header:not(:last-child) {
		margin-bottom: 20px;
	}

	.layout-two__title:not(:last-child) {
		margin-bottom: 10px;
	}
	.layout-two__items {
		margin: 0 -10px;
		row-gap: 20px;
	}
	.layout-two__items:not(:last-child) {
		margin-bottom: 50px;
	}
	.item {
		padding: 0 10px;
		row-gap: 10px;
	}
}

@media (max-width: 450px) {
	.layout-two__button {
		padding: 10px 30px;
	}
}

/* =================================================== */

.layout-three {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	z-index: 2;
}

.layout-three__header {
	text-align: left;
}

.layout-three__header:not(:last-child) {
	margin-bottom: 53px;
}
.layout-three__title {
	color: #000;
	font-size: 58px;
	line-height: 1.27;
}

.layout-three__title:not(:last-child) {
	margin-bottom: 27px;
}

.layout-three__subtitle {
	color: #606060;
	font-size: 20px;
	line-height: 1.8;
}

.card {
	flex: 0 1 33.333%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.card__image {
	overflow: hidden;
	width: 100%;
}

.card__image img {
	width: 100%;
	height: 100%;
	aspect-ratio: 357 / 240;
	object-fit: cover;
	transition: all 0.5s;
}

.card__image:hover img {
	transform: scale(1.04);
}

.card__title {
	color: #000;
	font-size: 24px;
	line-height: 1.2;
}

.card__title:hover {
	text-decoration: underline;
}

.card__title:not(:last-child) {
	margin-bottom: 16px;
}

.card__text {
	color: #000;
	font-size: 16px;
	line-height: 1.6;
}

.card__text:not(:last-child) {
	margin-bottom: 8px;
}
.card__action {
	display: flex;
	align-items: center;
	gap: 15px;
}
.card__link {
	color: #f55529;
	font-size: 16px;
	line-height: 1.5;
	transition: all 0.3s;
}

.card__link:hover {
	color: #913c25;
	text-decoration: underline;
}

.card__link--arrow {
	width: 24px;
	height: 24px;
	flex: 0 0 24px;
	background: url("../img/layout3/arrow.svg") center no-repeat;
	transition: all 0.3s;
}

.card__link--arrow:hover {
	transform: scale(1.1);
}

@media (max-width: 1379.98px) {
	.layout-three::after {
		opacity: 0.3;
	}
}

@media (min-width: 991.98px) {
	.layout-three__cards {
		display: flex;
		justify-content: space-between;
		column-gap: 48px;
	}

	.card__action {
		justify-content: space-between;
	}

	.layout-three::after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
		width: 170px;
		height: 380px;
		background: url("../img/layout3/bg.png") 0 0 no-repeat;
	}
}

@media (max-width: 991.98px) {
	.layout-three__title {
		font-size: 40px;
	}
	.layout-three__header:not(:last-child) {
		margin-bottom: 40px;
	}
	.layout-three__title:not(:last-child) {
		margin-bottom: 15px;
	}

	.card {
		flex-direction: row;
	}
	.card:not(:last-child) {
		margin-bottom: 20px;
	}
}

@media (max-width: 767.98px) {
	.layout-three__title {
		font-size: 32px;
	}
	.layout-three {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.layout-three__header:not(:last-child) {
		margin-bottom: 20px;
	}
	.layout-three__title:not(:last-child) {
		margin-bottom: 10px;
	}
	.card__title {
		font-size: 22px;
	}
	.card__title:not(:last-child) {
		margin-bottom: 10px;
	}
}

@media (max-width: 689.98px) {
	.card {
		flex-direction: column;
	}
}

/* =================================================== */

.consulting {
	background-color: #37393f;
	color: #fff;
}

@media (min-width: 1100.98px) {
	.consulting {
		display: flex;
	}
}

.consulting__content {
	flex: 0 0 100%;
	align-self: center;
}
.consulting__container {
	max-width: 1250px;
}
.consulting__body {
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

@media (min-width: 1100.98px) {
	.consulting__body {
		width: 54%;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-right: 20px;
	}
}

@media (max-width: 767.98px) {
	.consulting__body {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.consulting__header {
	max-width: 572px;
}

.consulting__label {
	font-size: 18px;
	line-height: 1.2;
	text-transform: capitalize;
	display: inline-flex;
	align-items: center;
	gap: 6px;
}

.consulting__label::before {
	content: "";
	width: 12px;
	height: 12px;
	background-color: #40ddb6;
}

.consulting__label:not(:last-child) {
	margin-bottom: 13px;
}

.consulting__title {
	font-size: 30px;
	line-height: 1.2;
	text-transform: capitalize;
}

.consulting__title:not(:last-child) {
	margin-bottom: 13px;
}

.consulting__text {
	font-size: 18px;
	line-height: 1.46;
}

.consulting__cards {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}

.card-consulting {
	flex: 0 1 47%;
	padding: 27px 30px;
	background-color: #2e2f34;
	display: flex;
	align-items: center;
	gap: 12px;
}

@media (max-width: 644px) {
	.card-consulting {
		flex: 0 1 100%;
	}
}

.card-consulting__image {
	max-width: 100%;
}
.card-consulting__body {
}
.card-consulting__label {
	font-size: 16px;
	line-height: 1.35;
}
.card-consulting__title {
	font-size: 18px;
	line-height: 1.5;
}
.stat-consulting__list {
	display: flex;
	gap: 48px;
}

.stat-consulting__column {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	row-gap: 23px;
}
.stat-consulting__column .stat-consulting__item:nth-child(2) p:nth-child(2) {
	color: #ffb342;
}

.stat-consulting__item {
	display: flex;
	gap: 8px;
	align-items: center;
}

@media (max-width: 644px) {
	.stat-consulting__list {
		flex-wrap: wrap;
		gap: 15px;
	}
	.stat-consulting__column {
		flex: 1 1 100%;
		row-gap: 15px;
	}
}

.stat-consulting__item p:last-child {
	font-size: 20px;
	line-height: 1.2;
}

.stat-consulting__item p:first-child {
	font-size: 24px;
	line-height: 1.2;
}

.stat-consulting__item span::before {
	content: "";
	width: 17px;
	height: 17px;
	background: url("../img/consulting/star.svg") 0 3px no-repeat;
}

.stat-consulting__item::before {
	content: "";
	width: 27px;
	height: 27px;
	flex: 0 0 27px;
	background: url("../img/consulting/check.svg") 0 0 no-repeat;
}
.stat-consulting__link {
	color: #40ddb6;
	line-height: 1.2;
	text-transform: capitalize;
	position: relative;
}

.stat-consulting__link::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	top: 100%;
	left: 0;
	background-color: #40ddb6;
	transition: all 0.3s;
}

.stat-consulting__link:hover::after {
	width: 0;
}

.consulting__image {
	width: 100%;
}

.consulting__image img {
	width: 100%;
}

@media (min-width: 1100.98px) {
	.consulting__image {
		position: relative;
		flex: 0 0 calc(((100vw - 30px) * 0.46) + 15px);
		transform: translate(-100%, 0);
		padding-bottom: 38.5%;
	}

	.consulting__image img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: left;
	}
}

/* =================================================== */

.footer {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 22px;
	text-align: center;
	background-color: #e3e3e3;
}

.footer-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.footer-link:hover {
	text-decoration: underline;
}
