@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button {
  padding: 1.3125rem 1.25rem;
  text-align: center;
  min-width: 11.5rem;
  color: #FFF;
  font-weight: 600;
  line-height: 122%;
  text-transform: capitalize;
  background-color: #6B77E5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-30%, 0) skew(20deg);
      -ms-transform: translate(-30%, 0) skew(20deg);
          transform: translate(-30%, 0) skew(20deg);
}
.button.show {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0) skew(0);
      -ms-transform: translate(0, 0) skew(0);
          transform: translate(0, 0) skew(0);
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #454d92;
  }
}
@media (max-width: 61.99875em) {
  .button {
    padding: 0.9375rem 1.25rem;
    min-width: 9.375rem;
  }
}
.button--green {
  background-color: #40DDB6;
  color: #37393F;
}
@media (any-hover: hover) {
  .button--green:hover {
    background-color: #2c8d75;
    color: #FFF;
  }
}

.block-title__label {
  color: #37393F;
  font-weight: 500;
  line-height: 147%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.4375rem;
}
@media (min-width: 93.75em) {
  .block-title__label {
    font-size: 1.125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 93.75em) {
  @supports (font-size: clamp( 1rem , 0.8688594574rem  +  0.2732165788vw , 1.125rem )) {
    .block-title__label {
      font-size: clamp( 1rem , 0.8688594574rem  +  0.2732165788vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.8688594574rem  +  0.2732165788vw , 1.125rem )) {
    .block-title__label {
      font-size: calc(1rem + 0.125 * (100vw - 47.99875rem) / 45.75125);
    }
  }
}
@media (max-width: 47.99875em) {
  .block-title__label {
    font-size: 1rem;
  }
}
.block-title__label::before {
  content: "";
  width: 0.6875rem;
  height: 0.6875rem;
  background-color: #40DDB6;
  -ms-flex-item-align: center;
      align-self: center;
}
.block-title__label--white {
  color: #FFF;
}
.block-title__label--purple::before {
  content: "";
  width: 0.6875rem;
  height: 0.6875rem;
  background-color: #6B77E5;
  -ms-flex-item-align: center;
      align-self: center;
}
.block-title__title {
  color: #37393F;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 110%;
  text-transform: capitalize;
}
@media (min-width: 93.75em) {
  .block-title__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 93.75em) {
  @supports (font-size: clamp( 1.625rem , -0.0835597024rem  +  2.7557970159vw , 2.5rem )) {
    .block-title__title {
      font-size: clamp( 1.625rem , -0.0835597024rem  +  2.7557970159vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 1.625rem , -0.0835597024rem  +  2.7557970159vw , 2.5rem )) {
    .block-title__title {
      font-size: calc(1.625rem + 0.875 * (100vw - 61.99875rem) / 31.75125);
    }
  }
}
@media (max-width: 61.99875em) {
  .block-title__title {
    font-size: 1.625rem;
  }
}
.block-title__title--white {
  color: #FFF;
}
.block-title__text {
  line-height: 147%;
}
@media (min-width: 93.75em) {
  .block-title__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 93.75em) {
  @supports (font-size: clamp( 1rem , 0.7559200425rem  +  0.393685288vw , 1.125rem )) {
    .block-title__text {
      font-size: clamp( 1rem , 0.7559200425rem  +  0.393685288vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.7559200425rem  +  0.393685288vw , 1.125rem )) {
    .block-title__text {
      font-size: calc(1rem + 0.125 * (100vw - 61.99875rem) / 31.75125);
    }
  }
}
@media (max-width: 61.99875em) {
  .block-title__text {
    font-size: 1rem;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1250;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

body {
  font-family: "Inter";
  font-size: 1.125rem;
  color: #7d7d7d;
  background-color: #37393F;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.menu-open body {
  overflow: hidden;
}
body.loaded {
  opacity: 1;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
.header__logo {
  font-size: 1.875rem;
  color: #FFF;
}
.menu__icon {
  display: none;
}
@media (max-width: 47.99875em) {
  .menu__icon {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
}
@media (max-width: 47.99875em) and (any-hover: none) {
  .menu__icon {
    cursor: default;
  }
}
@media (max-width: 47.99875em) {
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #FFF;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .menu__icon span {
    width: 0;
  }
  .menu-open .menu__icon::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .menu__icon::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    overflow: auto;
    background-color: #794f45;
    padding: 6.25rem 1.25rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu-open .menu__body {
    right: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}
.menu__item {
  font-size: 1.875rem;
  color: #FFF;
  opacity: 1;
  visibility: visible;
}
/* ------------------------------- */
.up-button {
  cursor: pointer;
  position: fixed;
  width: 3.125rem;
  height: 3.125rem;
  bottom: 3.125rem;
  right: 3.125rem;
  border-radius: 50%;
  background: #40DDB6 url("../img/up.svg") center no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 20%);
      -ms-transform: translate(0, 20%);
          transform: translate(0, 20%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.up-button--active {
  opacity: 0.7;
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (any-hover: hover) {
  .up-button--active:hover {
    opacity: 1;
  }
}

/* ------------------------------- */
.block-2__item {
  font-size: 2.5rem;
  text-align: center;
  background-color: #40DDB6;
  color: #37393F;
}

.footer {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  font-size: 1.875rem;
  text-align: center;
  background-color: #fff;
}