//========================================================================================================================================================

.title--deco {
	font-family: "Core Sans C";
	font-weight: 600;
	font-size: 34px;
	color: $titleColor;
	line-height: 98%;
	letter-spacing: 0.68px;
	display: inline-flex;
	align-items: center;
	gap: 20px;
	&::before {
		content: "";
		width: 6px;
		height: 30px;
		border-radius: 10px;
		background-color: #8a33fd;
	}
	&:not(:last-child) {
		margin-bottom: 70px;
		@media (max-width: $tablet) {
			margin-bottom: 40px;
		}
	}
	@media (max-width: $mobile) {
		font-size: 26px;
		gap: 10px;
	}
}

//========================================================================================================================================================

.button {
	color: $titleColor;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	padding: 12px 20px;
	min-width: 232px;
	background-color: #fff;
	border-radius: 8px;
	transition: all 0.4s;
	border: 1px solid transparent;
	@media (any-hover: hover){
		&:hover{
			border: 1px solid $whiteColor;
			background-color: transparent;
			color: $whiteColor;
		}
	}
}