//========================================================================================================================================================

$titleColor: #3c4242;
$titleCard: #2A2F2F;
$whiteColor: #FFF;

//========================================================================================================================================================
