//========================================================================================================================================================

$titleColor: #37393F;
$whiteColor: #FFF;
$purpleColor: #6B77E5;
$greenColor: #40DDB6;

//========================================================================================================================================================
